@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v29-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v29-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v29-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v29-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v29-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v29-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v29-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v29-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v29-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v29-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v29-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v29-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v29-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v29-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v29-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v29-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v29-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v29-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v29-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v29-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v29-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v29-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v29-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v29-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v26-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v26-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v26-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v26-latin_cyrillic-regular.woff") format("woff"), url("../fonts/raleway-v26-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/raleway-v26-latin_cyrillic-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v26-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v26-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v26-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v26-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v26-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v26-latin_cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

.hidden, .section__title--hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: Roboto, sans-serif;
}

/*reset and common*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: inline-block;
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
  }
}

.logo {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  font-family: Raleway, sans-serif;
  color: #2196f3;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .logo {
    display: block;
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}

.logo--black {
  color: #212121;
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo--white {
  color: #ffffff;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.button {
  border: transparent;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  transform: scale(1.05);
}

@media screen and (max-width: 1199px) {
  .subscribe-form__button {
    margin: auto;
  }
}

.socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials-list__item + .socials-list__item {
  margin-left: 8px;
}

@media screen and (min-width: 768px) {
  .socials-list__item + .socials-list__item {
    margin-left: 10px;
  }
}

.socials-list__link {
  border-radius: 50%;
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list__link:hover, .socials-list__link:focus {
  background-color: #2196f3;
}

.socials-list__icon {
  fill: #AFB1B8;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list__link:focus .socials-list__icon,
.socials-list__link:hover .socials-list__icon {
  fill: #ffffff;
}

.socials-list__link--grey {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.socials-list__icon--white {
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .socials-wrap {
    margin-top: 10px;
  }
}

.section__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .section__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 33px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.address-list__location, .address-list__phone, .address-list__mail {
  color: #ffffff;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.address-list__phone, .address-list__mail {
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__phone:hover, .address-list__mail:hover, .address-list__phone:focus, .address-list__mail:focus {
  color: #2196f3;
}

.address-list__location {
  margin-bottom: 9px;
}

.address-list__mail {
  margin-bottom: 9px;
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .address-wrap {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .address-wrap {
    margin-right: 70px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-form {
    margin: 0 152px 0 166px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}

.subscribe-form__input-email {
  outline: none;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-top: 20px;
  padding: 16px 15px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-form__input-email {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-form__input-email {
    width: 358px;
    height: 50px;
  }
}

.subscribe-form__input-email:focus {
  border-color: #2196f3;
}

.subscribe-form__input-email::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .subscribe-form__wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: inherit;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-form__wrap {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__wrap {
    margin-right: 12px;
    max-width: 358px;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-form__icon {
    margin-left: 10px;
  }
}

.form__text {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.form-list__item-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-list__input-wrap {
  position: relative;
}

.form-list__icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-list__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form-list__input {
  outline: none;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .form-list__input {
    max-width: 370px;
  }
}

@media screen and (min-width: 768px) {
  .form-list__input {
    max-width: 370px;
  }
}

.form-list__input:focus {
  border-color: #2196f3;
}

.form-list__input:focus + .form-list__icon {
  fill: #2196f3;
}

.form-list__textarea {
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  width: 100%;
  height: 120px;
  position: relative;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (max-width: 767px) {
  .form-list__textarea {
    max-width: 370px;
  }
}

@media screen and (min-width: 768px) {
  .form-list__textarea {
    max-width: 370px;
  }
}

.form-list__textarea:focus {
  border-color: #2196f3;
}

.policy {
  margin-top: 20px;
  margin-bottom: 30px;
}

.policy__input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

@media screen and (max-width: 767px) {
  .policy__input {
    max-width: 370px;
  }
}

@media screen and (min-width: 768px) {
  .policy__input {
    max-width: 370px;
  }
}

.policy__icon {
  border-radius: 20%;
  border: 2px solid black;
  margin-right: 8px;
  transition: fill 250ms cubic-bezier(0.215, 0.61, 0.355, 1), background-color 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media screen and (max-width: 767px) {
  .policy__icon {
    margin-right: 2px;
  }
}

.policy__input:checked + .policy__icon {
  fill: #ffffff;
  background-color: #2196f3;
  border: #2196f3;
}

.policy__label {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .policy__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) {
  .policy__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) {
  .policy__label {
    display: inline-flex;
    align-items: center;
  }
}

.policy__link {
  color: #2196f3;
  text-decoration: underline;
  margin-left: 5px;
}

@media screen and (max-width: 767px) {
  .policy__link {
    max-width: 370px;
  }
}

.policy__button {
  margin: auto;
  border: transparent;
}

@media screen and (max-width: 767px) {
  .container__header {
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .container__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .header__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .header__mobile {
    margin-right: 93px;
  }
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.mobile-menu__button {
  background-color: transparent;
  padding: 12px 8px;
  width: 40px;
  height: 40px;
  border: none;
  z-index: 5;
}

@media screen and (min-width: 768px) {
  .mobile-menu__button {
    display: none;
  }
}

.mobile-menu__button.is-open .menu-container {
  display: none;
}

.mobile-menu__button .mobile-menu__icon--open {
  display: none;
}

.mobile-menu__button.is-open .mobile-menu__icon--open {
  display: block;
}

.mobile-menu__button.is-open .mobile-menu__icon--close {
  display: none;
}

.mobile-menu__icon:hover, .mobile-menu__icon:focus {
  fill: #2196f3;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.215, 0.61, 0.355, 1), visibility 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
  padding: 48px 40px;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #ffffff;
  margin: 0;
}

.menu-container.is-open {
  opacity: 1;
  visibility: visible;
  overflow: hidden;
  pointer-events: all;
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.mobile-menu-list__item:not(:last-child) {
  margin-bottom: 35px;
}

.mobile-menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu-list__link:focus {
  color: #2196f3;
}

.mobile-menu-list__link:hover {
  color: #2196f3;
}

.mobile-menu-list__link.mobile-menu-list__link--current {
  color: #2196f3;
}

.menu-container__contacts {
  margin-bottom: 64px;
}

.mobile-menu-contact-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contact-list__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu-contact-list__link.mobile-menu-contact-list__link--phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .mobile-menu-contact-list__icon {
    display: none;
  }
}

.mobile-menu-social-list {
  display: flex;
}

.mobile-menu-social-list__item {
  padding-right: 10px;
}

.mobile-menu-social-list__item:not(:last-child) {
  margin-right: 10px;
}

.mobile-menu-social-list__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu-social-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu-social-list__link:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav,
  .nav-list,
  .contacts-list {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .nav-list,
  .contacts-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list__link--current {
    color: #2196f3;
  }
  .nav-list__link--current::after {
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
    position: absolute;
    left: 0;
    bottom: 0.5px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list__link {
    position: relative;
    padding-bottom: 32px;
    padding-top: 32px;
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list__link:hover, .nav-list__link:focus {
    color: #2196f3;
  }
}

.contacts-list {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__item + .contacts-list__item {
    margin-left: 50px;
  }
}

.contacts-list__link {
  color: #757575;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contacts-list__link {
    display: block;
  }
  .contacts-list__link:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__link.contacts-list__link--email {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__link {
    padding-bottom: 32px;
    padding-top: 32px;
    display: flex;
    align-items: center;
  }
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .contacts-list__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

.hero {
  text-align: center;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  width: 100vw;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (max-width: 767px) {
  .hero {
    height: 400px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-mobile.jpg");
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-mobile2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-tab.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-tab2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
  }
}

.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}

.hero__button {
  text-align: center;
  margin: auto;
}

.advantage-list {
  padding: inherit;
  margin: auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .advantage-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .advantage-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantage-list__item {
    max-width: 354px;
  }
  .advantage-list__item:nth-child(2n+1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage-list__item {
    max-width: 270px;
  }
  .advantage-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.advantage-list__title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .advantage-list__title {
    text-align: center;
  }
}

.advantage-list__text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.advantage-list__icon-wrap {
  background-color: #F5F4FA;
  border-radius: 4px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .advantage-list__icon-wrap {
    max-width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .advantage-list__icon-wrap {
    width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .section-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}

.section--nopadding {
  padding-top: 0;
}

.products-list {
  display: flex;
}

.products-list__item {
  position: relative;
}

.products-list__item:not(:last-child) {
  margin-right: 30px;
}

.products-list__text-wrap {
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-list__text {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section--grey-background {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    flex-wrap: nowrap;
  }
}

.team-list__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list__item {
    max-width: 354px;
  }
  .team-list__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .team-list__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team-list__img {
  height: auto;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .team-list__img {
    max-width: 270px;
  }
}

.team-list__title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team-list__text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.team-list__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}

.client-list {
  display: flex;
}

@media screen and (max-width: 479px) {
  .client-list {
    display: flex;
    flex-basis: auto;
  }
}

@media screen and (max-width: 767px) {
  .client-list {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .client-list {
    padding: 0;
    flex-wrap: wrap;
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .client-list__item {
    width: calc(100% / 2 - 30px);
  }
  .client-list__item:not(:nth-last-child(n+2)) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .client-list__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .client-list__item:nth-child(-n+4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client-list__item:nth-child(2) {
    margin-right: 30px;
    margin-left: 30px;
  }
  .client-list__item:nth-child(5) {
    margin-right: 30px;
    margin-left: 30px;
  }
  .client-list__item:nth-child(-n+3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .client-list__item + .client-list__item {
    margin-left: 30px;
  }
}

.client-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media screen and (max-width: 479px) {
  .client-list__link {
    max-width: 210px;
  }
}

@media screen and (min-width: 480px) {
  .client-list__link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .client-list__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .client-list__link {
    width: 170px;
    flex-wrap: nowrap;
  }
}

.client-list__link:focus, .client-list__link:hover {
  color: #2196f3;
  border-color: #2196f3;
}

.client-list__icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer-tablet {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-tablet {
    margin-right: 90px;
    justify-content: space-between;
  }
}

.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .address-list__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 3;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.215, 0.61, 0.355, 1), visibility 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) skewX(-30deg) scale(1.2);
  opacity: 0;
  background-color: gray;
}

.modal {
  max-width: 450px;
  width: 100%;
  height: auto;
  max-height: 609px;
  padding: 40px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  opacity: 1;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) skewX(0deg) scale(1);
  transition: transform 250ms cubic-bezier(0.215, 0.61, 0.355, 1), opacity 250ms cubic-bezier(0.215, 0.61, 0.355, 1), background-color 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media screen and (max-width: 767px) {
  .modal {
    top: 10%;
    transform: translate(-50%, -5%) skewX(0deg) scale(1);
  }
}

@media screen and (min-width: 768px) {
  .modal {
    top: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    top: 50%;
  }
}

.modal__icon {
  fill: currentColor;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover, .modal__button:focus {
  color: #2196f3;
}

.projects {
  background-color: #ffffff;
}

.btn-filter-list__button {
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border-color: transparent;
  display: block;
  padding: 6px 22px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-filter-list__button:hover, .btn-filter-list__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-filter-list {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .btn-filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .btn-filter-list {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .btn-filter-list {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .btn-filter-list__item {
    margin-bottom: 15px;
  }
}

.btn-filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.project-subtitle__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-subtitle__text {
  color: #757575;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}

.project-subtitle {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

@media screen and (max-width: 767px) {
  .projects-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .projects-list__item {
    max-width: 354px;
    height: auto;
  }
  .projects-list__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .projects-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-list__item {
    max-width: 370px;
    width: 100%;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .projects-list__item:nth-child(3n) {
    margin-right: 0;
  }
  .projects-list__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .projects-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .projects-list__img {
    width: 100%;
  }
}

.projects-list__link:hover,
.projects-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-overlay__text {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  max-width: 370px;
  padding: 63px 24px;
  transform: translateY(100%);
  opacity: 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list__link:hover .project-overlay__text,
.projects-list__link:focus .project-overlay__text {
  transform: translateY(0);
  opacity: 1;
}

.project-overlay {
  position: relative;
  overflow: hidden;
}

.projects-list__link {
  display: block;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */