$primary-font: Roboto,  sans-serif;
$secondary-font: Raleway,  sans-serif; 

$title-color: #ffffff;
$main-text-color: #212121;
$additional-text-color: #757575;
$button-color: #2196f3;
$background-color: #ffffff;
$additional-background-color: #2f303a;
$button-portfolio: #f5f4fa;
$portfolio-text-color: #212121;