.section__title--hidden {
@extend .hidden;
}

.advantage-list {
  padding: inherit;
  margin: auto;
  width: 100%;

  @include tab{
    display: flex;
    flex-wrap: wrap;
    padding: 0
  };
}
  
  .advantage-list__item{
  @include tel{
    &:not(:last-child){
      margin-bottom: 30px;
    };
  };
  
  @include tab{
  &:nth-child(2n+1){
  margin-right: 30px;
  };
  max-width: 354px;
};

  @include desk{
    max-width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  };
 };
}
  
  .advantage-list__title {
    @include tel{
      text-align: center;
    };
    color: $main-text-color;
    @include font($fw:700, $ls:0.03em );
    text-transform: uppercase;
    margin-bottom: 10px;
    
  }
  
  .advantage-list__text {
    color: $additional-text-color;
    @include font($fw:400, $lh:calc(24 / 14), $ls:0.03em );
  }
  
  
  .advantage-list__icon-wrap{
    background-color: #F5F4FA;
    border-radius: 4px;
    height: 120px;
    @include tab{
      max-width: 100%;
    };
    @include desk{
    width: 270px;
  };

    @include list-wrap();
    margin-bottom: 30px;
}