.section__title--hidden {
@extend .hidden;
}

.advantage-list {
    display: flex;
  }
  
  .advantage-list__item:not(:last-child) {
    margin-right: 30px;
  }
  
  .advantage-list__title {
    color: $main-text-color;
    @include font($fw:700, $ls:0.03em );
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .advantage-list__text {
    color: $additional-text-color;
    @include font($fw:400, $lh:calc(24 / 14), $ls:0.03em );
  }
  
  
  .advantage-list__icon-wrap{
    background-color: #F5F4FA;
    border-radius: 4px;
    height: 120px;
    width: 270px;

    @include list-wrap();
    margin-bottom: 30px;
}