.backdrop{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 3;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.215, 0.610, 0.355, 1),
  visibility 250ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
  visibility:hidden;

  & .modal{
    transform: translate(-50%, -50%) skewX(-30deg) scale(1.2);
    opacity: 0;
    background-color: gray;
  }
}

.modal{
  max-width: 450px;
    width: 100%;
    height: auto;
    max-height: 609px;

  @include tel{
    top: 10%;
    transform: translate(-50%, -5%) skewX(0deg) scale(1);
  };
  @include tab{
    top: 40%;
  };
  @include desk{
    width: 528px;
    height: 581px;
    top: 50%;
  };
padding: 40px;
background-color: $background-color;
position: absolute;
left: 50%;


opacity: 1;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;


transform: translate(-50%, -50%) skewX(0deg) scale(1);
transition: transform 250ms cubic-bezier(0.215, 0.610, 0.355, 1),
opacity 250ms cubic-bezier(0.215, 0.610, 0.355, 1),
background-color 250ms cubic-bezier(0.215, 0.610, 0.355, 1);

}

.modal__icon{
  fill: currentColor;
}

.modal__button{
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;

  @include list-wrap($jc:null);

  background-color: $background-color;
  @include transition($property:color);

  &:hover,
  &:focus{
      color: $button-color;
  }
}