.container__header{


    @include tab{
    @include list-wrap($jc:space-between);};
    
}

.header__mobile{
    @include tel{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    };
}

.header{
    background-color: $background-color;
    border-bottom: 1px solid #ececec;
  }