.hero {
@include tel{
  height: 400px;
};

  text-align: center;
  background-color: $additional-background-color;
  background-repeat: no-repeat;
  background-size: cover;

  @include tel{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url('../images/background-mobile.jpg');
  

  @include retina{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url('../images/background-mobile2x.jpg');
   };
  };

  @include tab{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url('../images/background-tab.jpg');

  @include retina{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url('../images/background-tab2x.jpg');
   };
  };

  @include desk{
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url('../images/background.jpg');
  
  
  @include retina{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url('../images/background2x.jpg');
  };
};

  margin-left: auto;
  margin-right: auto;

  max-width: 1600px;
  width: 100vw;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
  
  

  @include desk{
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    };
  } 

  .hero__title {
    color: $title-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;

    @include desk{
    font-size: 44px;
    line-height: calc(60 / 44);
   };
  
  }
  
  .hero__button {
  text-align: center;
  margin: auto;
}
