.mobile-menu__button{
    @include tab{
      display: none;
    };
  
    background-color: transparent;
    padding: 12px 8px;
    width: 40px;
    height: 40px;
    border: none;
    z-index: 5;
  
    &.is-open .menu-container{
      display: none;
    };
  
  
    & .mobile-menu__icon--open{
    display: none;
   };
   &.is-open .mobile-menu__icon--open{
     display: block;
   };
   &.is-open .mobile-menu__icon--close{
     display: none;
   };
  
  }
  
  .mobile-menu__icon{
    &:hover,
    &:focus{
      fill: $button-color;
    };
  }
  
  
.menu-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    visibility:hidden;
    transition: opacity 250ms cubic-bezier(0.215, 0.610, 0.355, 1),
    visibility 250ms cubic-bezier(0.215, 0.610, 0.355, 1);
    
  
      padding: 48px 40px;
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      background-color: $background-color;
      margin: 0;
      
      &.is-open{
        opacity: 1;
        visibility: visible;
        overflow: hidden;
        pointer-events: all;
      };
      
      @include tab{
        display: none
      };
    }
  

  .mobile-menu-list__item:not(:last-child){
    margin-bottom: 35px;
  }
  
  .mobile-menu-list__link{
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: $main-text-color;
  
  &:focus{
    color: $button-color;
  };
  &:hover{
    color: $button-color;
  };
  &.mobile-menu-list__link--current{
    color: $button-color;
  }
  }


  .menu-container__contacts{
    margin-bottom: 64px;
  }
  .mobile-menu-contact-list__item:not(:last-child){
    margin-bottom: 32px;
  }
  .mobile-menu-contact-list__link{
    &.mobile-menu-contact-list__link--phone{
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: $button-color;
    };
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: $additional-text-color;
  }

  .mobile-menu-contact-list__icon{
    @include tel{
      display: none;
    }
  }
  .mobile-menu-social-list{
    display: flex;
  }
  .mobile-menu-social-list__item{
    &:not(:last-child){
    margin-right: 10px;
  };
  padding-right: 10px;
  &:not(:last-child){
  border-right: 1px solid rgba(33, 33, 33, 0.2);
   };
  }
  
  
  .mobile-menu-social-list__link{
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: $button-color;
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
   };
  }