.mobile-menu{
  @include tab{
    display: none;
  };

  background-color: transparent;
  padding: 12px 8px;
  width: 40px;
  height: 40px;
  border: none;

  &.is-open .mobile-menu__icon--open{
    display: block;
  };

  &.is-open .mobile-menu__icon--close{
  display: none;
};

& .mobile-menu__icon--open{
  display: none;
};
}

.site-nav{
  @media screen and (max-width:767px){
    display: flex;
    align-items: baseline;
  }
}

.mobile-menu-wrap{
  @include tel{
    width: 100%;
    height: auto;
    
  }
}

.site-nav, 
.nav-list,
.contacts-list {
  @include tab{
  display: flex;};
}

.nav-list {

  @include tab{
  @include list-wrap($jc:null);};
}

.nav-list__item:not(:last-child) {

  @include tab{
  margin-right: 50px;};
}

.nav-list__link--current {

  @include tab{
    color: $button-color;

    &::after{
      content: '';
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: #2196F3;
      position: absolute;
      left: 0;
      bottom: -1.5px;
    };
  };

  }

.nav-list__link {


  
  @include tab{
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;

    color: $main-text-color;
    @include font();
    
    @include transition($property:color);

    &:hover,
    &:focus{
        color: $button-color;
    };
  }
}


.contacts-list{
  @include font();
  }

  
  .contacts-list__item + .contacts-list__item{

    @include tab{
    margin-left: 50px;};
  }
  
  .contacts-list__link {


    @include tab{
    padding-bottom: 32px;
    padding-top: 32px;

    @include list-wrap($jc:null);
    color: $additional-text-color;
    text-decoration: none;
    
    @include transition($property:color);

    &:hover,
    &:focus{
        color: $button-color;};
      }; 
    
  }

  
  .contacts-list__icon{


    @include tab{
    margin-right: 10px;
    fill: currentColor;
  };
}
