.projects {
    background-color: $background-color;
  }

  
  .btn-filter-list__button {
    background-color: $button-portfolio;
    color: $portfolio-text-color;
    @include font ($fs:16px, $lh: calc(26 / 16), $ls:0.03em );

    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border-color: transparent;
    display: block;
    padding: 6px 22px;
    @include transition(background-color color box-shadow );


    &:hover,
    &:focus{
        background-color: $button-color;
        color: $title-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    };
  } 
  
  .btn-filter-list{
    @include tel{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-bottom: 40px;
    };
    @include tab{
      margin-bottom: 30px;
    };
    @include desk{
      margin-bottom: 50px;
    };
    @include list-wrap($ai:null);
    
  }
  
  .btn-filter-list__item{
    @include tel{
    margin-bottom: 15px;
  };
    &:not(:last-child){
    margin-right: 8px;
  };
}
  
  .project-subtitle__title {
    color: $portfolio-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    margin-bottom: 4px;
  }
  
  .project-subtitle__text {
    color: $additional-text-color;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
  }
  
  .project-subtitle {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
  }
  
.projects-list__item {
@include tel{
  &:not(:last-child){
  margin-bottom: 30px;
       };
    };
@include tab{
  max-width: 354px;
  height: auto;
  &:nth-child(2n+1){
    margin-right: 30px;
  };
  &:not(:last-child){
    margin-bottom: 30px;
  };
};
@include desk{ 
    max-width: 370px;
    width: 100%;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
      margin-right: 0;
    };
    &:nth-last-child(-n + 3){
      margin-bottom: 0;
    };
  };
}
  
  .projects-list {
    @include tab{
    display: flex;
    flex-wrap: wrap;
  };
}
  
.projects-list__img{
  @include desk{
    width: 100%;
  };
}
  .projects-list__link:hover,
  .projects-list__link:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  