%address-list {
    color: $title-color;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
  }

  %mail-and-phone {
    color: rgba(255, 255, 255, 0.6);
    @include transition;

    &:hover,
    &:focus{
        color: $button-color;
    }
  }
  
  .address-list__location{
    @extend %address-list;
    margin-bottom: 9px;
  }

  .address-list__phone {
    @extend %address-list;
    @extend %mail-and-phone;
      }

    .address-list__mail {
        @extend %address-list;
        @extend %mail-and-phone;
        margin-bottom: 9px;
      }
     
  
  .address-list__item:not(:last-child){
    margin-bottom: 9px;
  }
  
  
.address {
    font-style: normal;
  }

  .address-wrap{
  @include tel{
      margin-bottom: 60px;
    };
   @include desk{
     margin-right: 70px;
   };
  }

