.container {
 margin: auto;
 width: 100vw;
 max-width: 480px;
 padding-left: 15px;
 padding-right: 15px;

@include tab{
  width: 768px;
};

 @include desk{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;};
}
