.form__text{
  text-align: center;
  @include font ($fw:700, $fs:20px, $lh: calc(23 / 20), $ls:0.03em );
  color: #212121;
  margin-bottom: 12px;
  }
  
  .form-list__item:not(:last-child){
    margin-bottom: 10px;
  }
  
  .form-list__item-wrap{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  }
  
  .form-list__input-wrap{
    position: relative;
  }
  
  .form-list__icon{
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    @include transition ($property:fill);
  }
  
  
  .form-list__label{
    margin-bottom: 4px;
    @include font ($fw:null, $fs:12px, $lh: calc(14 / 12), $ls:0.01em );
    color: $additional-text-color;
    margin-bottom: 4px;
  }
  
  
  .form-list__input{
    @include tel{
      max-width: 370px;
    };
    @include tab{
      max-width: 370px;
    }
  outline: none;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  @include transition ($property:border-color);

  &:focus{
      border-color: $button-color;
  }
  &:focus + .form-list__icon{
    fill: $button-color;
  }

 }
  
  
  .form-list__textarea{
    @include tel{
      max-width: 370px;
    };
    @include tab{
      max-width: 370px;
    };
    border-radius: 4px;
    outline: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    resize: none;
    width: 100%;
    height: 120px;
    position: relative;
    font-size: 12px;
   line-height: calc(14 / 12);
   letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);

  &:focus{
      border-color: $button-color;
  }
}
  
  .policy{
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .policy__input{
    @include tel{
      max-width: 370px;
    };
    @include tab{
      max-width: 370px;
    };
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  
  
  .policy__icon{
    border-radius: 20%;
    border: 2px solid black;
    margin-right: 8px;
    @include tel{
      margin-right: 2px;
    }
  
    transition: fill 250ms cubic-bezier(0.215, 0.610, 0.355, 1),
    background-color 250ms cubic-bezier(0.215, 0.610, 0.355, 1);

    .policy__input:checked + &{
      fill: $background-color;
      background-color: $button-color;
      border: $button-color;
    }
  }

  .policy__label{
    @include tel{
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.03em;
    };
    @include tab{
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.03em;
    };

      @include font ($fw:null, $lh: calc(24 / 14), $ls:0.03em );

  color: $additional-text-color;
 
  @include tab{
  display: inline-flex;
  align-items: center;
   };
  }
  
  
  .policy__link{
    @include tel{
      max-width: 370px;
    };
    color: $button-color;
    text-decoration: underline;
    margin-left: 5px;
  }

  .policy__button{
  margin: auto;
  border: transparent;
  }